/*TODO: Figure out less or equivalent*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
body {
    background-color: rgb(35, 35, 35); 
    color: #ffffff;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100
}

nav {
    opacity: 0.9;
    position: fixed;
    background-color: #0a0b0c;
    display: flex;
}

nav ul li {
    cursor: pointer;
    display: inline-block;
    padding: 0 2em 0 2em;
    transition-duration: 0.3s;
}
nav ul li:hover {
    background-color: #1b1e21;
}
nav ul {
    padding: 0;
    margin: 0 auto 0 auto;
}

#userDropdown {
    width: 36em;
    padding: none;
    background-color: #0a0b0c;
}
#userDropdown > li {
    padding-right: 0;
    padding-left: 0;
}

#horizontal {
    height: 4em;
    width: 100%;
    z-index: 487;
    transition-duration: 0.3s;
}

#vertical {
    height: 100%;
    width: 4em;
    z-index: 486;
    transition-duration: 0.3s;
}

#mainbox {
    left: 4em;
    top: 4em;
    right: 0em;
    bottom: 0em;
    position: fixed;
    overflow-y: auto;
}

#secondary {
    
}

.organizer {
    transition-duration: 0.2s;
}

.organizer:hover {
    color: #26a69a;
}

#eventpage {
    height: 100%;    
}

#eventpage #content {
    position: absolute;
    right: 0;
    width: 100%;
    height: 35%;
    bottom: 0;
    margin-bottom: 0;
}
#eventpage #info {
    background: rgb(30, 30, 30);
    height: 100%;
    padding: 2em;
}
#eventpage #controls {
    background: rgb(23, 23, 23);
    height: 100%;
    padding: 2em;
}
#eventpage #controls .fill {
    width: 100%;
}
#eventsview, #newEventView, #eventpage, #signUpView {
    padding: 1em 1em 0em 1em;
}

#newPostView #titleBox {
    border: none;
    background-color: #1c1c1c; /*Something better*/
    padding: 1.5em;
    font-size: 1.25em;
    height: initial;
    resize: none;
}

#newPostView #titleBox:focus {
    outline: none;
    /*Other visual changes*/
}

#newPostView #titleBox::-webkit-input-placeholder {
    color: #aaa;
}

.event {
    background-color: #262626;
    width: 312px;
    height: 312px;
    display: inline-flex;
    margin: 0 5px 5px 0;
    
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}
.event .content {
    width: 100%;
    /*height: 100%;*/
    position: relative;
    margin: 0.5em 0.5em 0.5em 0.5em;
}
.event h2 {
    display: flex;
    font-weight: 100;
}
.event .bottom {
    bottom: 0;
    position: absolute;
    padding: 0.5em;
}

::-webkit-scrollbar {
    background-color: rgb(35, 35, 35);
    width: 0.5em;
}
::-webkit-scrollbar-thumb {
    background-color: #141414;
}