<div id="newPostView">
    <textarea name="title" ng-model="newPost.title" id="titleBox" rows=1 placeholder="Title goes here"/>
    <div class="row">
        <div class="col s12 m8">
            <div class="input-field col s12">
              <textarea id="postText" class="materialize-textarea"></textarea>
              <label for="postText">Post Body</label>
            </div>
            <div class="input-field col s12">
              <input id="link" type="text" class="validate">
              <label for="link">Link</label>
            </div>
            <!--Direct Media Upload-->
        </div>
        <div class="col s12 m4">
            <!--Display-->
        </div>
    </div>
</div>