<div id="newEventView">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4">
                    <div class="event z-depth-5" style="background-image: url({{ newEvent.image }})">
                        <div class="content">
                            <h5 ng-bind="newEvent.name"></h5>
                            <div class="secondary">
                                <span class="description" ng-bind="newEvent.byline"></span>
                                <span class="organizer" ng-bind="newEvent.organizer"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="input-field col s12">
                        <input id="name" type="text" ng-model="newEvent.name" length="144" required></input>
                        <label for="name">Event Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="byline" type="text" ng-model="newEvent.byline" length="144" required></input>
                        <label for="byline">Byline</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="description" ng-model="newEvent.description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <span>Who can view?</span>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" id="public" />
                        <label for="public">Everyone</label>
                    </p>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" id="unlisted" />
                        <label for="unlisted">Anyone with a link</label>
                    </p>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" id="private"  />
                        <label for="private">Those invited</label>
                    </p>
                </div>
                <div class="col s12 m4">
                    <span>Who can attend?</span>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" id="everyone"/>
                        <label for="everyone">Everyone</label>
                    </p>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" id="link"/>
                        <label for="link">Anyone with a link</label>
                    </p>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" id="invite"/>
                        <label for="invite">Those invited</label>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 push-m4">
                    <a class="waves-effect waves-light btn-large" style="width:100%" ng-click="createEvent()">Create Event<i class="material-icons right">send</i></a>
                </div>
            </div>
            <form>
                <!--<div class="input-field col s12">-->
                <!--    <input id="title" type="text" ng-model="title" ng-class="{valid: validTitle()}" class="validate" length="144" required></textarea>-->
                <!--    <label for="title" data-error="That title is invalid.">Title</label>-->
                <!--</div>-->
                <!--<div class="input-field col s12">-->
                <!--    <textarea id="body" ng-model="body" class="materialize-textarea"></textarea>-->
                <!--    <label for="body">Body</label>-->
                <!--</div>-->
                <!--<div class="input-field col s12">-->
                <!--    <input id="link" type="text" class="validate">-->
                <!--    <label for="link">Link</label>-->
                <!--</div>-->
                <!--<div class="input-field col s12">-->
                <!--    <button class="btn waves-effect waves-light" ng-click="post()">Create Post<i class="material-icons right">send</i></button>-->
                <!--</div>-->
            </form>
        </div>
    </div>
</div>