<div id="eventsView">
  <div class="event z-depth-1 hoverable waves-effect waves-dark" ng-repeat="event in eventArray" style="background-image: url({{ event.image }})">
    <div class="content" ng-click="eventClick(event.url)">
      <h5 ng-bind="event.name"></h5>
      <div class="secondary">
        <span class="description" ng-bind="event.byline"></span>
      </div>
      <div class="bottom">
        <span class="organizer"  ng-click="organizerClick(event); $event.stopPropagation();" ng-bind="event.organizer.name"></span>
      </div>
    </div>
  </div>
</div>