<div id="newEventView">
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="col s12 m4">
                    <div class="event z-depth-5" style="background-image: url({{ newEvent.image }})">
                        <div class="content" ng-click="eventClick(event.url)">
                          <h5 ng-bind="newEvent.name"></h5>
                          <div class="secondary">
                            <span class="description" ng-bind="newEvent.byline"></span>
                          </div>
                          <div class="bottom">
                            <span class="organizer" ng-bind="newEvent.organizer.name"></span>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m8">
                    <div class="input-field col s12">
                        <input id="name" type="text" ng-model="newEvent.name" length="144" required></input>
                        <label for="name">Event Name</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="byline" type="text" ng-model="newEvent.byline" length="144"></input>
                        <label for="byline">Byline</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="description" ng-model="newEvent.description" class="materialize-textarea"></textarea>
                        <label for="description">Description</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <span>Who can view?</span>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" value="public" id="public" />
                        <label for="public">Everyone</label>
                    </p>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" value="unlisted" id="unlisted" />
                        <label for="unlisted">Anyone with a link</label>
                    </p>
                    <p>
                        <input type="radio" name="visibility" ng-model="newEvent.visibility" value="private" id="private"  />
                        <label for="private">Those invited</label>
                    </p>
                </div>
                <div class="col s12 m4">
                    <span>Who can attend?</span>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" value="everyone" id="everyone"/>
                        <label for="everyone">Everyone</label>
                    </p>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" value="link" id="link"/>
                        <label for="link">Anyone with a link</label>
                    </p>
                    <p>
                        <input type="radio" name="ingress" ng-model="newEvent.ingress" value="invite" id="invite"/>
                        <label for="invite">Those invited</label>
                    </p>
                </div>
                <div class="col s12 m4">
                    <span>Who can comment?</span>
                    <p>
                        <input type="radio" name="comment" ng-model="newEvent.comment" value="anyone" id="anyone"/>
                        <label for="anyone">Anybody</label>
                    </p>
                    <p>
                        <input type="radio" name="comment" ng-model="newEvent.comment" value="attendees" id="attendee"/>
                        <label for="attendees">Just attendees</label>
                    </p>
                    <p>
                        <input type="radio" name="comment" ng-model="newEvent.comment" value="nobody" id="nobody"/>
                        <label for="nobody">Nobody. Commenting disabled.</label>
                    </p>    
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m4 push-m4">
                    <a class="waves-effect waves-dark btn-large" style="width:100%" ng-click="createEvent()" ng-disabled="!newEventEnabled()">Create Event<i class="material-icons right">send</i></a>
                </div>
            </div>
        </div>
    </div>
</div>