<div id="eventView">
    <div id="banner">
        <h4 ng-bind="event.name"></h4>
    </div>
    <div id="content" class="row">
        <div id="controls" class="col s12 m4">
            <div class="row">
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn-large grey darken-4 fill" ng-click="join();" ng-if="event.ingress=='everyone'" ng-disabled="joinPending"><i class="material-icons right">add</i>Join</a>
                </div>
                <div class="col s12 m6">
                    <a class="waves-effect waves-light btn-large grey darken-4 fill" ng-click="view()"><i class="material-icons right">chevron_right</i>View</a>
                </div>
            </div>
        </div>
        <div id="info" class="col s12 m8">
            <span ng-bind="event.byline"></span>
            <p>
                <span class="markdowned" ng-bind-html="descriptionAsHTML(event.description)"></span>
            </p>
        </div>
    </div>
</div>