<div id="postsView">
  <!--<div class="post z-depth-1 hoverable waves-effect waves-dark" ng-repeat="post in postList">-->
  <div id="postList">
    <div class="post hoverable" ng-repeat="post in postList">
      <div class="content" ng-click="postClick(post.url)">
        <div class="mediaContainer">

        </div>
        <div class="otherContainer">
          <div class="title" ng-bind="post.title"></div>
          <div class="submitter" ng-bind="post.submitter.name" ng-click="submitterClick(post); $event.stopPropagation()"></div>
          <div class="time" ng-bind="resolveTimeString(post.time.creation)" title="{{resolveTime(post.time.creation)}}"></div>
          <!--<div class="votebox">-->
          <!--  <div class="votebuttons">-->
          <!--    <div class="votebutton up" ng-click="voteClick(1, post)">-->
          <!--      <i class="material-icons">keyboard_arrow_up</i>-->
          <!--    </div>-->
          <!--    <div class="votebutton down" ng-click="voteClick(-1, post)">-->
          <!--      <i class="material-icons">keyboard_arrow_down</i>-->
          <!--    </div>-->
          <!--  </div>-->
          <!--</div>-->
          <!--<span ng-bind="content.text"></span> Handle this and media later-->
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light grey darken-4" ng-click="newPost()"><i class="material-icons">add</i></a>
  </div>
</div>
