<div id="postsView">
  <!--<div class="post z-depth-1 hoverable waves-effect waves-dark" ng-repeat="post in postList">-->
  <div class="post hoverable" ng-repeat="post in postList">
    <div class="content" ng-click="postClick(post.url)">
      <div class="title" ng-bind="post.title"></div>
      <!--<span ng-bind="content.text"></span> Handle this and media later-->
      <span ng-bind="submitter.name"></span>
    </div>
  </div>
  <div class="fixed-action-btn">
    <a class="btn-floating btn-large waves-effect waves-light grey darken-4" ng-click="newPost()"><i class="material-icons">add</i></a>
  </div>
</div>