<div id="newPostView">
    <div id="title">
        <textarea name="title" ng-model="newPost.title" id="titleBox" rows=1 placeholder="Title goes here"/>
    </div>
    <div class="row">
        <div class="col s12 m8">
            <div id="text">
                <div class="input-field col s12">
                    <textarea id="postText" ng-model="newPost.content.text" class="materialize-textarea"></textarea>
                    <label for="postText">Post Body</label>
                </div>
            </div>
            <div id="link">
                <div class="input-field col s12">
                    <input id="link" ng-model="newPost.content.link" type="text" ng-model="newPost.link" class="validate">
                    <label for="link">Link</label>
                </div>
            </div>
            <!--Direct Media Upload-->
        </div>
        <div class="col s12 m4">
            <!--Display-->
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 push-m4">
            <a class="waves-effect waves-light btn-large" style="width:100%" ng-click="createPost()" ng-disabled="!newPostEnabled">Create Post<i class="material-icons right">send</i></a>
        </div>
    </div>
</div>