<div id="postView">
    <div id="postContainer" class="row">
        <div class="col m2">
            <div id="controls">
                <div id="votebox">
                    <div id="votebuttons">
                        <div id="up" class="votebutton" ng-class="{'up':voteDirection()==1}" ng-click="voteClick(1)"> 
                            <i class="material-icons">keyboard_arrow_up</i>
                        </div>
                        <div id="down" class="votebutton" ng-class="{'down':voteDirection()==-1}" ng-click="voteClick(-1)">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                    </div>
                </div>
                <div id="report">
                    
                </div>
                <div id="save">
                    
                </div>
            </div>
        </div>
        <div class="col m8">
            <div id="post">
                <div id="title" ng-bind="post.title" ng-click="titleClick()"></div>
                <div id="desc" class="markdowned" ng-bind-html="descriptionAsHTML(post.content.text)"></div>
                <div id="media"></div>
            </div>
            <div id="comments">
                <div id="rootcommentbox">
                    <div class="commentbox">
                        <textarea class="commentTextBox" />
                    </div>
                    <div class="controls">
                          <button class="btn waves-effect waves-light">
                            Comment
                            <i class="material-icons right">send</i>
                          </button>
                    </div>
                </div>
                <div id="commentlist">
                    
                </div>
            </div>
        </div>
        <div class="col m2">
            <div id="info">
                <div id="submitter">
                    By: <span ng-bind="post.submitter.name"></span>
                </div>
                <div id="time" title="{{getTime('creation')}}">
                    <span ng-bind="getTimeString('creation')"></span>
                </div>
            </div>
        </div>
    </div>
</div>