<div id="loginView">
    <div class="row">
        <div class="col s12 m4 push-m4">
            <form ng-submit="signIn()">
                <div class="input-field col s12">
                  <input id="email" type="email" ng-model="email" class="validate">
                  <label for="email">Email</label>
                </div>
                <div class="input-field col s12">
                  <input id="password" type="password" ng-model="password" class="validate">
                  <label for="password">Password</label>
                </div>
                <div class="input-field col s12">
                    <input type="checkbox" id="staysigned" ng-model="remainSignedIn"/>
                    <label for="staysigned">Stay Signed In</label>
                </div>
                <div class="row">
                    <div class="input-field col s12 m6">
                        <button class="btn waves-effect waves-light" ng-click="signUp()">Sign up<i class="material-icons right">account_circle</i></button>
                    </div>
                    <div class="input-field col s12 m6">
                        <button class="btn waves-effect waves-light" ng-click="signIn()" ng-disabled="signInPending">Sign in<i class="material-icons right">send</i></button>
                    </div>
                </div>
                <!--TODO: Fix this hideous layout-->
            </form>
        </div>
    </div>
</div>